html,body{
    margin:0;
    padding:0;
}

#menu {
    background-color: black;
	height: 100px;
}

#menu ul {
	text-align: center;
    padding-inline-start: 0px;
}

#menu li {
	display: inline-block;
    padding:0 10 0 10;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	font-size: 0.80em;
	line-height: 100px;
	color: #FFF;
}

#footer
{
    background-color: black;
	text-align: center;
}
	
#footer p
{
    margin:0;
	letter-spacing: 0.20em;
	text-align: center;
	font-size: 0.80em;
    color:white;
    padding:20px;
}

#sadrzaj
{
    background-color: grey;
}

#dio
{
    text-align: center;
    margin-bottom:0;
}

h2
{
    margin-top:0;
    padding-top: 15px;
}

p
{
    font-size:20px;
}

.v1{
    height:40px;
}

